In [ ]:
nums = [1, 2, 3, 4, 5, 6]

In [ ]:
def sumElements(nums):
  print(nums)
  total = 0

  for n in nums:
    total = total + n
  return total
  #return sum(nums)

sumElements(nums)

[1, 2, 3, 4, 5, 6]

21

In [ ]:
def largestElement(nums):
  if len(nums) ==0:
    return None

  largest = nums[0]

  for i in range(1, len(nums)):
    # largest = max(largest, nums[i])
    if largest < nums[i]:
      largest = nums[i]

  return largest
  # return max(nums)

largestElement(nums)

6

In [ ]:
def remove_duplicate(nums):
  #return list(set(nums))
  #return list(dict.fromkeys(nums))

  seen = set()
  result = []
  for n in nums:
    if n not in seen:
      seen.add(n)
      result.append(n)
  return result

remove_duplicate([*nums, 1,2,3,4])

[1, 2, 3, 4, 5, 6]

In [ ]:
def check_unique_val(nums):
  seen = set()

  for n in nums:
    if n in seen:
      return False

    seen.add(n)

  return True

  #return len(nums) == len(set(nums))

print(check_unique_val([*nums, 1,2,3,4]))
print(check_unique_val(nums))

False
True

In [ ]:
def rev_list(nums):
  result = []
  for i in range(len(nums)-1, -1, -1):
    result.append(nums[i])

  return result

  # nums.reverse()
  # return nums

  #return list(reversed(nums))

  #return nums[::-1]

rev_list(nums)

[6, 5, 4, 3, 2, 1]

In [ ]:
def odd_even(nums):
  # odd_count=even_count=0

  # for n in nums:
  #   if n%2==0:
  #     even_count+=1
  #   else:
  #     odd_count+=1
  # return odd_count, even_count

  even = sum(1 for n in nums if n%2==0)
  odd = len(nums) - even

  return odd, even

odd_even(nums)

(3, 3)

In [ ]:
def max_diff_cons(nums):
  max_diff = 0

  for i in range(1,len(nums)):
    max_diff =max(max_diff, abs(nums[i-1]- nums[i]))
  return max_diff

max_diff_cons([*nums, 15])

9

In [ ]:
def merge_list(nums1, nums2):
  merged = []
  i=j=0

  while i < len(nums1) and j < len(nums2):
    if nums1[i] < nums2[j]:
        merged.append(nums1[i])
        i+=1
    else:
        merged.append(nums2[j])
        j+=1

  if i < len(nums1):
    merged.extend(nums1[i:])

  if j < len(nums2):
    merged.extend(nums2[j:])

  return merged


  # merged = []
  # i=j=0
  # while i < len(nums1) or j < len(nums2):
  #   if i < len(nums1) and j < len(nums2):
  #     if nums1[i] < nums2[j]:
  #       merged.append(nums1[i])
  #       i+=1
  #     else:
  #       merged.append(nums2[j])
  #       j+=1
  #   elif i < len(nums1):
  #     merged.append(nums1[i])
  #     i+=1
  #   elif j < len(nums2):
  #     merged.append(nums2[j])
  #     j+=1

  # return merged

  #return sorted(nums1 + nums2)

print([1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 8, 9, 9, 10, 11])
merge_list([*nums, 8, 9], [*nums, 9, 10, 11])

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 8, 9, 9, 10, 11]

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 8, 9, 9, 10, 11]

In [ ]:
from collections import deque

def rorate_list(lst, k):
  n = len(lst)
  if n==0:
    return lst

  k%=n

  def start_reverse(start, end):
    while start< end:
      lst[start], lst[end] = lst[end], lst[start]
      start+=1
      end-=1


  start_reverse(0, n-1) # reverse the whole list
  start_reverse(0, k-1) # reverse the first k elements
  start_reverse(k, n-1) # reverse the rest

  return lst

  # dq = deque(lst)
  # dq.rotate(k)
  # return list(dq)

  # for i in range(k):
  #   lst = [lst.pop(), *lst]
  # return lst

  #return lst[-k:]+ lst[:-k]


k=3
rorate_list(nums, k)

[4, 5, 6, 1, 2, 3]

In [ ]:
def list_to_dict(keys, values):
  dictionary = {}

  for i in range(min(len(keys), len(values))):
    dictionary.update({
        keys[i] : values[i]
    })

  return dictionary

  #return dict(zip(keys, values))

list_to_dict(["one", "two"], [1,2])

{'one': 1, 'two': 2}

In [ ]:
def merge_dict(dict1, dict2, dict3):
  merge  = dict1.copy()
  merge.update(dict2)
  merge.update(dict3)

  return merge

  #return {**dict1, **dict2, **dict3}

merge_dict({"a": "A"}, {"b": "B"}, {"c": "C"})

{'a': 'A', 'b': 'B', 'c': 'C'}

In [ ]:
from collections import Counter

def word_freq(s):
  word_counts = {}
  tokens = s.lower().split(" ")

  for w in tokens:
    if w in word_counts:
      word_counts[w] +=1
    else:
      word_counts[w] =1

  return word_counts

  # tokens = s.lower().split(" ")
  # return dict(Counter(tokens))

word_freq("Hello I am here to play and Hello I am here to read")

{'hello': 2,
 'i': 2,
 'am': 2,
 'here': 2,
 'to': 2,
 'play': 1,
 'and': 1,
 'read': 1}

In [ ]:
def is_palindromic_tuple(tup):
  if len(tup) ==1:
    return True

  left=0
  right= len(tup)-1

  while left <right:
    if tup[left] != tup[right]:
      return False

    left+=1
    right-=1

  return True

  #return tup == tup[::-1]

print(is_palindromic_tuple(("a", "b")))
print(is_palindromic_tuple(("a", "b", "b", "a")))
print(is_palindromic_tuple(("a")))
print(is_palindromic_tuple(("a", "b", "a")))

False
True
True
True

In [ ]:
def merge_dicts_with_overlapping_keys(dicts):
  result = {}

  for d in dicts:
    for k, v in d.items():
      if k in result:
        result[k] = result[k] + v
      else:
        result[k] =v

  return result


merge_dicts_with_overlapping_keys([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'c': 5, 'd': 6}])

{'a': 1, 'b': 5, 'c': 9, 'd': 6}

In [ ]:
def is_subset(lst1, lst2):
  # for n in lst1:
  #   if n not in lst2:
  #     return False
  # return True

  for n in lst1:
    found=False
    for m in lst2:
      if m==n:
        found=True
        break
    if found==False:
      return False
  return True

lst1 = [1, 2, 3]
lst2 = [1, 2, 3, 4, 5]

is_subset(lst1, lst2)

True